

*{
	box-sizing: border-box;
	margin:0px;
	font-family: 'Kanit', sans-serif;
	color:white;
}

body{

	margin:0px auto;
		background:url(catesphotored.png);
		background-size: cover;
		background-repeat:no-repeat;
}

#generator-container{
	margin:0px auto;
	display:flex;
	flex-flow:column;
	justify-content: center;
	align-items: center;


}

#pageTitle{
	margin:20px;
}

#generate{
	margin:20px;
	font-size:1.5em;
	padding:10px;
	color:white;
	background:rgba(0,0,0,0.5);
	outline:none;
}

#generate:hover{
	border-color: white;
}

#generate:active{
	background: orange;

}

#pitch-here{

	max-width:50%;
	text-align: center;
}



@media only screen and (max-width: 375px){



*{
	box-sizing: border-box;
	margin:0px;
	font-family: 'Kanit', sans-serif;
	color:white;
}

body{

	margin:0px auto;
		background:url(catesphotored375.png);
		background-size: cover;
/*		background-repeat:no-repeat;*/
		height:100vh;
		vertical-align: center;
}

#generator-container{
	margin:0px auto;
	display:flex;
	flex-flow:column;
	justify-content: center;
	align-items: center;


}

#pageTitle{
	margin:20px;
	font-size:1em;
}

#generate{
	margin-top:20%;
	font-size:1.5em;
	padding:10px;
	color:white;
	background:rgba(0,0,0,0.5);
	outline:none;
}

#generate:hover{
	border-color: white;
}

#generate:active{
	background: orange;

}

#pitch-here{

	max-width:50%;
	text-align: center;
	font-size:1em;
	margin-top:15%;
}


}